#document {
  .table-wrapper {
    overflow: scroll;
    margin: 15px 0;
    border-right: 1px solid #D2D2D2;
    border-left: 1px solid #D2D2D2;
  }

  table {
    width: 100%;
    border-spacing: 0;

    th, td {
      border-bottom: 1px solid #D2D2D2;

      &:not(:first-child) {
        border-left: 1px solid #D2D2D2;
      }
    }

    td {
      padding: 3px 10px;
    }

    th {
      border-top: 1px solid #D2D2D2;

      a {
        display: block;
        color: black;
        padding: 3px 15px;

        &:hover {
          background: #C3C3C3;
          text-decoration: none;
        }
      }

      &.desc, &.asc {
        position: relative;

        a:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          margin: 10px 3px;
        }
      }

      &.desc a:after {
        border-top: 5px solid black;
      }

      &.asc a:after {
        border-bottom: 5px solid black;
      }
    }

    thead tr {
      background: #D0CECE;
    }

    tbody {
      tr:nth-child(even) {
        background-color: #F7F7F7;
      }

      tr:hover {
        background: #F9F9B9;
      }
    }
  }
}
