$site-width: 700px;
$site-bg-color: white;

$content-padding: 10px;

$link-color: #0000ee;

$headline-font: sans-serif;
$headline-weight: 400;

$text-font: sans-serif;
$text-weight: lighter;
$text-color: #2b2b2b;

$sidebar-bg-color: rgba(255, 215, 110, 0.3);
$sidebar-border-color: #ffd76e;
$sidebar-width: 250px;

$code-background: #20201d;
$code-color: #a6a28c;
$code-comment: #3879d9;
$code-variable: #d73737;
$code-string: #60ac39;
$code-builtin: #b65611;
$code-keyword: #b854d4;
