@import 'shared/common';

#sidebar {
  width: $sidebar-width;
  padding: 0 $content-padding;
  background-color: $sidebar-bg-color;
  border-radius: 5px;
  float: right;
  border: 1px solid $sidebar-border-color;
  font-size: .9em;
  margin-top: 15px;
  margin-bottom: 10px;

  h2 {
    margin-bottom: .5em;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }

  ul {
    padding: 0;
    list-style: none;
    line-height: 1.3em;
  }

  li>span {
    display: inline-block;
    font-size: .7em;
    width: 28px;
    text-align: right;
    font-weight: bold;
    margin-right: 5px;
  }
}
