@import 'shared/common';

body {
  background-color: $site-bg-color;
  font-family: $text-font;
  font-weight: $text-weight;
  color: $text-color;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
  font-weight: $title-weight;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

#app {
  max-width: $site-width;
  margin: 0 auto;
}
