@import 'shared/common';

#note {
  padding: $content-padding;

  a:target {
    color: white;
    background-color: $link-color;

    &:focus {
      outline: none;
    }
  }

  code {
    color: #666;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 5px 2px;
  }

  h2 a, h3 a, h4 a {
    color: rgba(0, 0, 0, .35);
    text-decoration: none;
  }
}
