@import 'shared/common';

#note {
  padding: $content-padding;

  a:target {
    color: white;
    background-color: $link-color;

    &:focus {
      outline: none;
    }
  }

  code {
    color: #666;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 5px 2px;
    vertical-align: text-top;
  }

  h2, h3, h4, h5, h6 {
    font-family: $headline-font;
    font-weight: $headline-weight;
  }

  h2 a, h3 a, h4 a {
    color: rgba(0, 0, 0, .35);
    text-decoration: none;
    font-size: .7em;
  }

  li {
    margin: 5px 0;
  }

  blockquote {
    background: #f1f1f1;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    p:first-child, p:last-child {
      display: inline;
    }
  }

  pre {
    background: $code-background;
    padding: 10px;
    border-radius: 3px;

    code {
      display: block;
      overflow: scroll;
      border: 0;
      color: $code-color;

      .hljs-comment,
      .hljs-quote {
        color: $code-comment;
      }

      .hljs-variable,
      .hljs-template-variable,
      .hljs-attribute,
      .hljs-tag,
      .hljs-name,
      .hljs-regexp,
      .hljs-link,
      .hljs-name,
      .hljs-selector-id,
      .hljs-selector-class {
        color: $code-variable;
      }

      .hljs-number,
      .hljs-meta,
      .hljs-built_in,
      .hljs-builtin-name,
      .hljs-literal,
      .hljs-type,
      .hljs-params {
        color: $code-builtin;
      }

      .hljs-string,
      .hljs-symbol,
      .hljs-bullet {
        color: $code-string;
      }

      .hljs-title,
      .hljs-section {
        color: #6684e1;
      }

      .hljs-keyword,
      .hljs-selector-tag {
        color: $code-keyword;
      }

      .hljs {
        display: block;
        overflow-x: auto;
        background: $code-background;
        color: $code-color;
        padding: 0.5em;
      }

      .hljs-emphasis {
        font-style: italic;
      }

      .hljs-strong {
        font-weight: bold;
      }
    }
  }
}
